[submodule "example_project2/fixed_point_arith"]
	path = example_project2/fixed_point_arith
	url = git@github.com:jcarrano/fixed_point_arith.git
	branch = no-html-docs
[submodule "examples/riot/RIOT"]
	path = examples/riot/RIOT
	url = git@github.com:jcarrano/RIOT.git
	branch = sphinx-docs2
